<!DOCTYPE html>
<html>
<head>
    <title>Graphing</title>
    <link href="aestheti.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="react-main-mount">
        <%- reactOutput %>
    </div>
    <script src="main.js"></script>
</body>

</html>
